.contentLogo img {
  border:rgb(185, 51, 51) 10px inset;
  margin: 0em;
  max-width: 57em;
  
}

.descriptionBlock {
  padding: 10px;
}

.profileInfo__profileStatus {
  padding: 10px;
  font-size: 44px;
  font-weight: 900;
  font-family:'Times New Roman', Times, serif ;
  
}